<%-include('./header.ejs')%>

    <section class="blog-detail mtb-40">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-left">
                        <h1><%=data.title %></h1>
                        <div class="posted-on">
                            <p>Posted On: <%=data.createdAt.toLocaleDateString('en-US') %></p>
                        </div>
                        <div class="detail-img">
                            <img src="/upload/<%= data.image %> " alt="blog1" width="70%"/>
                        </div>
                        <div class="blog-desc">
                            <span><%=data.description %></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-right">

                        <div class="right-widget recent-post">
                            <h3>Recent Blogs</h3>
                            <% recentblogs.forEach((item)=>{ %>
                            <a href="/blog/details/<%=item._id %>">
                               
                                <div class="rb-box">
                                    <div class="rb-box-img">
                                        <img src="/upload/<%= item.image %>" alt="blog1" />
                                    </div>
                                    <div class="rb-box-desc">
                               
                                        <h4><%=item.title %></h4>
                                        <p>Posted On: <%= item.createdAt.toLocaleDateString('en-US') %></p>
                                        
                                    </div>
                                </div>
                                
                            </a>
                            <%}) %>
                            
                        </div>
                         <div class="right-widget categories">
                             <h3>Categories</h3>
                             <ul>
                                <% category.forEach((item)=>{ %> 
                                <li><a href="#"><%= item.title %></a></li>
                                <% }) %>
                                
                            </ul>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%-include('./footer.ejs')%>