<%-include('../../header.ejs')%>

                    <%-include('../sidebar.ejs')%>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Blogs</h1>
                                </div>
                                
                            </div>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>#ID</th>
                                   
                                    <th>Title</th>
                                   
                                    <th>Posted On</th>
                                    
                                </tr>
                                <% var i=1 %>   
                                
       
                                
                                   <tr>
                                       <td><%= i++ %></td>
                                       <td><%= data.title %></td>
                                       <td><%=data.createdAt %></td>
                                      
                                       
                                   </tr>
                                
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%-include('../../footer.ejs')%>
