<%-include('../../header.ejs')%>

    <%-include('../sidebar.ejs')%>
        <div class="col-md-9">
            <div class="dash-right">
                <div class="dash-header">
                    <div class="dash-title">
                        <h1>Users</h1>
                        <hr>
                    </div>
                    <div class="dash-nav">
                        <a href="create-blogs" class="btn
                            btn-success">Add Post</a>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>#ID</th>

                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Message</th>
                        <th>Posted On</th>
                        <th>Action</th>
                    </tr>
                    <% var i=1 %>
                        <% data.forEach((item)=>{ %>


                            <tr>
                                <td><%= i++ %></td>
                                    <td><%= item.name %></td>
                                    <td><%= item.email %></td>
                                    <td><%= item.phone %></td>
                                    <td><%= item.message %></td>
                                        <td><%=item.createdAt %></td>

                                            <td>
                                                <a class="btn btn-info"
                                                    href="/contact/view/<%=item._id
                                                    %>">view </a>
                                                <a class="btn btn-success"
                                                    href="/contact/edit/<%=item._id
                                                    %>">Edit </a>
                                                <a class="btn btn-danger"
                                                    href="/contact/delete/<%=item._id%>">delete
                                                </a>
                                            </td>
                                        </tr>
                                        <%})%>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <%-include('../../footer.ejs')%>